.callring {
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 297px;
    height: 120px;
    margin: 0;
}
.callring .background{
    height:100%;
    width:100%;
    position: relative;
}
.callring .background::before, .background::after{
    content:"12:40  AM ";
    position: absolute;
    color: #FFF;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    top:15px;
    width:100%;
    text-align: center;
    left:0
}
.callring .background::before{
    content:"Saturday, October 14, 2017";
    color: #CCC;
    font-size: 14px;
    top: 55px;
}
.callring .incomingcall{
    transition: opacity .5s linear;
    position: absolute;
    height: 100%;
    top:0;
    width:100%;
    left: 0;
    z-index: 3;
    color: #FFF;
}
.callring .bgd{
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(12px);
    z-index: -2;
    top: 0;
    left: 0;
    background: #000000e8;
}
.callring .bg{
    height:100%;
    width:100%;
    position: absolute;
    filter: blur(12px);
    z-index: -2;
    top:0;
    left:0;
    background:000;
}
.callring .text{
    z-index: 5;
    position: absolute;
    height:100%;
    width:100%;
    text-align: center
}
.callring .text p{
    font-size: 16px;
    text-transform: capitalize;
    margin:20px 0;
}
.callring .text .incomingcall{
    font-size: 12px;
    text-transform: capitalize;
    margin:0;	
}
.callring .text img{
    border-radius: 50%
}
.callring .text p:last-of-type{
    margin-top: -15px;
    color: #CCC
}
.callring input[type="checkbox"]{display: none}
.callring .bgd + label, input[type="checkbox"] + label{
    cursor: pointer;
    transition: opacity .5s linear;
    background-color:#B23939;
    position: absolute;
    bottom:16px;
    right:20px;
    height:50px;
    width:50px;
    border-radius: 50%;
    z-index: 99;
}
.callring i{
    font-size: 30px !important;
    color:#FFF;
    height:100%;
    width:100%;
    line-height: 50px !important;
    text-align: center;
    position: relative;
}
.callring .bgd + label::after,
.callring input[type="checkbox"] + label::after,
.callring i::after{
    content:"";
    height:100%;
    width:100%;
    border-radius: 50%;
    border:1px solid #B23939;
    opacity: 1;
    position: absolute;
    top:-1px;
    left:-1px;
    animation: cool 1.3s infinite linear ;
}
.callring label#open-call::after, input[type="checkbox"] + label::after{
    animation-delay: .5s;
}
@keyframes cool{
    to{
        transform: scale(1.5);
        opacity: 0
    }
}
.callring input[type="checkbox"]:checked + label#close-call{		    
    animation: trans .1s 1 linear forwards;
    animation-delay: .5s;
}
.callring input[type="checkbox"]:checked + label#close-call, input[type="checkbox"]:checked + label#close-call + div{
    opacity: 0;
}
.callring .bgd + label{
    right:auto;
    left:20px;
    background-color: #47B239;
    bottom:20px;
}
.callring label#open-call::after, label#open-call > i::after{
    border:1px solid #47B239
}
.callring .text-1{
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    text-align: center;
    height:100%;
    width:100%
}
.callring .text-1 p:first-of-type{
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.callring .text-1 p:nth-of-type(2){
    margin-bottom: 15px;
    font-size: 16px;
    color:#CCC
}
.callring .text-1 p:nth-of-type(3){
    font-size: 14px;
    color:#CCC;
    margin: 0;
}
.callring .media{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 8px;
    position: relative;
}
.callring .media > span{
    border: 1px solid #FFF;
    height: 32px;
    width: 32px;
    float: left;
    margin: 8px 4px;
    border-radius: 50%;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
}
.callring .media > span:hover{
    background-color: #FFF;
    color:#333
}
.callring .media > label{
    transition: all .5s linear;
    position: relative;
}
.callring .media > label::after{
    transition: all .5s linear;
    cursor: pointer;
    content:"\f095";
    font-family: FontAwesome;
    height:50px;
    width:50px;
    background-color:#B23939;
    border-radius: 50%;
    top:54px;
    line-height: 50px;
    left:-147px;
    position: absolute
}
.callring input#open:checked ~ label {
    opacity: 0;
    animation: trans .1s 1 linear forwards;
    animation-delay: .5s;
}
.callring input#open:checked ~ #test-test > .incomingcall > #open-call{
    opacity: 0;
    animation: trans .1s 1 linear forwards;
    animation-delay: .7s;
}
.callring input#open:checked ~ #test-test > .incomingcall > .text{
    opacity: 0
}
.callring input#open:checked ~ #test-test > .incomingcall > .text + div{
    opacity: 1 !important
}
.callring .incoming{
    width: 100%;
    font-size: 12px;
}
@keyframes trans{
    to{
        transform: translateX(-10000px) translateY(-10000px)
    }
}