.collapsed-side-call{
    width:70px;
    height: calc(100vh - 48px);
    background: #4176cd;
    display: flex;
    flex-direction: column;    
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;

}

.collapsed-side-call>*{
    padding: 10px;
    

}
.call-btn{
    font-size: 22px;
	line-height: 22px;
	color: #fff;
}