/* img {
  width: 100%;
}
/**/
.navbar {
  background-color: #e3f2fd;
} */
.fa.fa-edit {
  color: #18a2b9;
  font-size: 20px;
}

.fa.fa-flag-checkered {
  color: green;
  font-size: 20px;
}

.fa.fa-minus-circle {
  font-size: 20px;
  color: red;
  cursor: pointer; 
}
.label-danger {
  background-color: #ff5e5e;
  color: #fff;
}
.label1 {
  padding: 10px 8px;
  line-height: 15px;
  font-weight: 500;
  border-radius: 4px;
  font-size: 85%;
}
.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}
.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}
.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}
.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.landing-inner {
  padding-top: 80px;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-form {
  opacity: 0.9;
}
.latest-profiles-img {
  width: 40px;
  height: 40px;
}
.form-control::placeholder {
  color: #bbb !important;
}
.card1 {
  width: 60%;
}
.right-tabs .nav {
    float: right;
    border-bottom: 0px;
}
.right-tabs .nav li { float: left }
.right-tabs .tab-content {
    float: left;
    border-top: 1px solid #ddd;
    margin-top: -1px;
}
.framestyle{
  width: 100%;
  height:70vh;
}
.loader {  position: fixed;border: 16px solid #f3f3f3;   border-radius: 50%;   border-top: 16px solid #3498db;   width: 120px;   height: 120px;   -webkit-animation: spin 2s linear infinite; /* Safari */   animation: spin 2s linear infinite; }

/* Safari */ @-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }   100% { -webkit-transform: rotate(360deg); } }

@keyframes spin{ 0% { transform:rotate(0deg); } 100% { transform: rotate(360deg); } }

.page-center{top:30%; left:40%}
.cursorclass{
  cursor: pointer; 
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif! important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #76838f;
  text-align: left;
  background-color: #F3F3F9;
}
.nav-link {
  display: block;
  padding: 0.5rem 0.5rem;
  font-size: 14px;
  font-weight: 500;
}
.tableclass{
/* margin-left: 30px; */
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
table { 
  border-collapse: collapse; 
} 
th { 
  background-color:#4176cd; 
  Color:white; 
}
/* Calendar */


html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 1px;
}
::-moz-scrollbar {
  width: 1px;
}
::-ms-scrollbar {
  width: 1px;
}
::-o-scrollbar {
  width: 1px;
}
.calendarbox{
    float:left;
    display:block;
    width:99%;
    margin:0 1% 0 0;
}
.calendar{
  display:block;
}
#myDoctor .modal-header{
  background: #4176cd;
}
#myDoctor .modal-header h4, #myDoctor .modal-header button.close{
  color: #fff;
}
div#myid {
  overflow: hidden;
  overflow-x: scroll;
}
div#myid > .row > div{
  display: block;
  flex: auto;
  float: left;
  width: 33.33%;
}
.none-border .modal-footer{
  border-top:none;
}
.fc-toolbar{
  margin-bottom:5px;
  margin-top:15px;
}
.fc-toolbar h2{
  font-size:18px;
  font-weight:600;
  line-height:30px;
  text-transform:uppercase;
}
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar .ui-state-hover,
.fc-toolbar button:focus,
.fc-toolbar button:hover {
  z-index: 0;
}
.fc-widget-header{
  border: 1px solid rgba(120, 130, 140, 0.13) !important;
}
.fc-widget-content{
  border: 1px solid rgba(120, 130, 140, 0.13) !important;
}
.fc th.fc-widget-header{
  background: rgba(120, 130, 140, 0.13) !important;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}
.fc-button{
  border:1px solid rgba(120, 130, 140, 0.13) !important;
  text-transform: capitalize;
}
.fc-text-arrow{
  font-family:inherit;
  font-size:16px;
}
.fc-event{
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  -ms-border-radius:2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 0px 0;
  padding: 2px;
  text-align: center;
}
.external-event{
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}
.fc-basic-view td.fc-week-number span{
  padding-right:5px;
}
.fc-basic-view td.fc-day-number{
  padding-right: 5px;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
  float: right;
  width: 100%;
  text-align: center;
}
ul.doctorlist{
  margin: 0;
}
ul.doctorlist li{
  padding: 0;
  background: #eeeeee7d;
  border-bottom: 1px solid #eee;
}
ul.doctorlist li:nth-child(odd){
  background: #ddd0;
}
ul.doctorlist li:hover{
  background: #fff;
}
ul.doctorlist span.doctorname{
  color: #222;
  background: #fafafa;
  box-shadow: none;
  border: 0 none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  display: block;
  font-weight: 100;
  padding: 7%;
}
ul.doctorlist span.doctorname:hover{
  background: #ccc;
}
td.fc-axis{
    width:20%! important;
}
ul.doctorlist span.doctorname input{
    margin-right:5%;
}

/* End calendar */

.scroll{
  overflow-x: hidden; 
  overflow-y: scroll; 
}
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: grey;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}
.imgsize{
  border:0;
  box-shadow: none !important;
  border:none!important;
  width: 350px;
}
